.App {
  margin: auto;
  width: 60%;
  /* font-size: 1.6rem; */
  padding: 1rem 1rem 1rem;
}

* {
  /* text-align: center; */
  box-sizing: border-box;
  /* outline: 1px solid red;
  outline-offset: -1px; */
}
