/* 

span {
  cursor: pointer;
}

body {
  font: 1.6rem / 1.5 "Montserrat", sans-serif;
  margin: 0;
  min-height: 100.1vh;
}

button {
  font-size: inherit;
  box-shadow: none;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
}

.rotate90 {
  transform: rotateZ(90deg);
}

.icon {
  width: 1em;
  height: 1em;
  transition: transform 300ms cubic-bezier(0, 1, 1, 1);
  will-change: transform;
}

.icon--expanded {
  transform: rotateZ(-179.99deg);
}

.app__toggle {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px #888;
  background-color: #fff;
  transition: background-color 300ms;
}

.app--active {
  background-color: #fafafa;
}

.app__toggle-text {
  font-size: inherit;
}

.rotate90 {
  transform: rotateZ(90deg);
}

.checkbox {
  width: 90px;
  height: 50px;
} */